.App {
  text-align: center;
  background-color: whitesmoke;
}
.nav{
  display: flex;
}
.break{
background-color: lightblue;
width: 25%;
}
.break:hover{
  background-color: blue;
}

.quiz{
background-color: lightgreen;
width: 25%;
}
.quiz:hover{
  background-color: green;
}

.lab{
background-color: pink;
width:25%;
}
.lab:hover{
  background-color: red;
}
.questions{
  background-color: lightyellow;
  width:25%;
}
.questions:hover{
  background-color: yellow;
}

